body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.part-two-container{
background-image: url("https://st3.depositphotos.com/3141125/14173/i/600/depositphotos_141733824-stock-photo-portrait-of-a-beautiful-lion.jpg");
background-repeat: no-repeat;

}


.form-card{
margin-left: auto;
margin-right: auto;
width: 500px;

height: 500px;
border: 10px solid rgb(194, 134, 22) ;
}

.form-card-contain{
height: 580px;
}


.donation-home-page-font-thanks{

text-align: center;
color: orange;
background-color: black;
}

.part-one-container{
background-image: url("https://wallpaperaccess.com/full/334015.jpg");
background-repeat: no-repeat;
overflow: hidden;
}

.donation-home-page-font-text{
position: relative;
text-align: center;
color: black;
padding: 10px;

}

.Navbar{
height: 150px;
color: white;
}


.home-page-name{
position: relative;
margin-left: auto;
margin-right: auto;
color: rgb(194, 134, 22);
font-family: cursive;
font-size: 70px;
} 

.our-message{
color: white;
border: 10px solid rgb(194, 134, 22) ;
border-radius: 30px;
width: fit-content;
margin-left: auto;
margin-right: auto;
padding: 10px;
text-align: center;
position: relative;
font-family: cursive;
font-size: 19px;
} 

#home-page-donate-button{
margin-left: auto;
margin-right: auto;
}


.quote-image{
border-radius: 50%;
height:273.5px;
width: 410px;
margin-left: auto;
margin-right: auto;
font-family: cursive;
color: white;
}





/* _____________________________________________________ */

 .part-two-title{


color: rgb(194, 134, 22);
font-family: cursive;
font-size: 70px;

}



.part-two-description{
margin-left: auto;
margin-right: auto;
color: white;
border: 10px solid rgb(194, 134, 22) ;
border-radius: 30px;
width: 340px;
font-size: 20px;
padding: 10px;
}

#bottom-page-info{
position: relative;
background-color: #212529;
height: 250px;
color: white;

}



#modal-page{

border: 10px solid rgb(194, 134, 22) ;
}






/* ________________________________________________________________ */

.team-title{
position: relative;
bottom: 14px;
color: rgb(194, 134, 22);
font-family: cursive;
font-size: 70px;
}

#team-cards{
margin-left: auto;
margin-right: auto;
}


.the-team{
border: 10px solid  orange;
padding: 8px;
height: 600px;
width: 320px;
border-radius: 30px;
}

.team-cards{
position: relative;
left: 80px;
bottom: 20px;
}

.team-description{
color: white;
font-family: cursive;
}

.team-members{
color: white;
font-family: cursive;
}

.project-images{
border-radius: 25%;
}

.modal-page{
background-color: black;
}

.cert-image{
position: relative;
left: 130px;
top: 20px;
}
.cert-image:hover{
transform: scale(1.4);
}

#exit{
position: relative;
left:95px;
width: 300px;
}